<!DOCTYPE html>
<html>
  <head>
	<% include ./partials/head.ejs %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <% include ./partials/nav.ejs %>
        </div>
        <div class="col-sm-10">
			<h1><%= title %></h1>

			<ul>
			<% for(var i=0; i<genre_list.length; i++) {%>
			   <li><a href=<%=genre_list[i].url%>><%= genre_list[i].name%></a></li>
			<% } %>
			</ul>
		</div>
      </div>
    </div>
  </body>
</html>
